@import "UserColors.css";

@media (prefers-color-scheme: dark) {
    body
    {
        background: var(--dark-window-background);
        color: var(--dark-window-color);
    }
}

@media (prefers-color-scheme: light) {
    body
    {
        background: var(--light-window-background);
        color: var(--light-window-color);
    }
}
